/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.row{
  display: flex;
  flex-wrap : wrap;
  
  width: 100%;
  margin-top : 100px;
}


h2{
  text-align: center;
  margin: 20px 0px;
  font-family: 'Poppins', sans-serif;
}
input{
   margin-bottom:20px ;
}

button{
   display: flex;
   justify-content: space-around;
   width: 25%;
}

.card{
  width: 300px;
  height: 300px;
  flex-basis: 1;
} */



.img {
  float: left;
}
.title {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-left: 600px;
}

.content {
  padding: 20px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img:hover {
  transform: translateY(2px);
  box-shadow: 2px 2px 20px 2px rgb(34, 32, 31);
}

.card {
  padding: 10px;
  font-size: 20px;

  background-color: rgb(250, 248, 248);
  text-align: justify;
}

.card-title {
  font-family: "Rubik Beastly", cursive;
  font-size: 25px;
  letter-spacing: 2px;
  margin: opx;
}

.lead {
  font-family: monospace;
  text-shadow: 2px 0px 8px rgb(235, 38, 38);
  margin-left: 50px;
}

.h5,
.card-text > .h5 {
  font-family: "Pacifico", cursive;
  font-style: oblique;
  font-weight: bolder;
}

.pfont {
  font-family: cursive;
  font-style: initial;
}

.buttongroup {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.btn1 {
  margin-left: 30%;
}

hr {
  height: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(to left, blue, red);
}

.movie_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  padding: 0px 50px;
}
.movie_form input {
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  color: #242c35;
}

.button {
  padding: 12px;
  border-radius: 20px;
}

.lead1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 0px 8px rgb(214, 204, 204);
  margin-left: 50px;
  letter-spacing: 2px;
  font-size: 25px;
}
.toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}