.heading{
    height: 100px;
    background-color: green;
    color: #ffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center !important;
    width: 100%;

}

.input-group input,.input-group button{
    margin-top: 50px;
    margin-bottom: 20px;
}

.input-group button{
    color: #ffff;
    margin-left: 5px;
}

tr{
    display: flex !important; 
    flex-wrap: wrap;
}

td{
    font-size: 20px;
     width: 100%; 
}

td button{
      float: right !important;
      text-align: right !important;
      color: whitesmoke !important;    
}

